table {
    border-style:none;
    border-collapse: collapse;
}

th  {
    /* padding: 20px; */
    width: 550px;
    padding: 50px;

}

td { 
    padding: 20px;
    text-align: center;
}

#tableHead{
    background-color: rgb(127, 206, 202);
}

table.alternate tr:nth-child(4n-3),
table.alternate tr:nth-child(4n-2) {
    background-color: lavender;
}


.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}


.sidebar {
    grid-column: span 2;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6; 
    width: 350px;
    margin: 100px;
}

.sidebar ul{
    list-style: none;
}
main {
    grid-column: span 4; 
    padding: 15px;
    margin: 0;
}

body {
    padding: 0%;
    margin: 0%;
}

.sidebar button {
    margin: 10px;
}


